@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #07E0B6,#18F297,#00807D );
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #254949c0;
    width: 600px;
    padding:10px;
    margin: auto;
}
h1, h2 {
    background-color: #3be4e1;
}

p{
    text-align: justify;
}