@font-face {
    font-family: 'robo';
    src: url('fontes/idroid.otf') format('opentype');
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{


--cor0: #ebe5c5;
--cor01:#83e1ad;
--cor02:#3ddc84;
--cor03:#2fa866;
--cor04:#1a5c37;
--cor05:#063d1e;

--font-padrao: arial, verdane, helvetica, sans-serif;
--font-destaque: 'Roboto Slab';
--font-robo: 'robo';
}

body{
    background-color: var(--cor01);
}

header{
    background-color: var(--cor04);
    padding: 20px;
    margin: -10px; 
    box-shadow: 0px 1px 5px; 
}

header > h1{

    font-family: var(--font-padrao);
    color: white;
    text-align: center;
}

header > p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    max-width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin: auto;
}

nav{
    text-align: left;
}

nav > a{
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}

nav :hover{
    color: var(--cor05);
    background-color: var(--cor03);
}

main{
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 20px;
    max-width: 1300px;
    min-width: 300px;
}

main  a{
    text-decoration: none;
    color: var(--cor04);
}


main .bugdroid{
    display: block;
    margin: auto;
}
article{
    background-color: white;
}

article > h1{
    font-size: 2em;
    color: var(--cor03);
    font-family: var(--font-robo);
    font-weight: normal;
    margin: 10px;
}

article > h2{
    background-image: linear-gradient(to right, var(--cor01), white);
    color: var(--cor03);
    font-family: var(--font-robo);
    font-size: 1.5em;
    margin: 10px;
}

article > P{
    text-align: justify;
    font-size: 1.1em;
    text-indent: 20px;
    margin: 10px;
}

aside{
    background-color: var(--cor01);
   border-radius: 10px 10px 0px 0px;
}

aside  h3{
    color: white;
    font-family: var(--font-padrao);
    background-color: var(--cor03);
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
}

aside p{
    padding: 0px 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-indent: 30px;
}

aside > ul{
    list-style-position: inside;
    columns: 2;
    list-style-type: '\2714\00A0';
}
footer{
    background-color: var(--cor05);
    color: white;
    font-family: var(--font-padrao);
    text-align: center;
    max-width: 1341px;
    margin: auto;
}

div.video{
    background-color: #063d1e;
    position: relative;
    padding-bottom: 35%;
    
}
div.video > iframe{
    position: absolute;
    width: 60%;
    height: 100%;
    right: 25%;

}