body{
    background-color: rgb(116, 207, 246);
}

header{
    background-color: aliceblue;
    width: 400px;
    height: 550px;
    margin: auto;
    border-radius: 10px;
}

img{
    padding: 25px;
    border-radius: 40px;
}

h1{
    font-size: 2em;
    text-align: center;
    margin-top: -15px;
    
}

p{
    color: grey;
    font-size: 18px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: -15px;
}