

header{
    max-width: 300px;
    margin: auto;
}

.primeiro{
 font-size: 14px;
}

h1{
    margin-top: -10px;
}

.segundo{
    text-align: justify;
}

.numeroh1{
    margin-top: 25px;

}

.numerop{
    text-align: center;
    margin-top: -48px;
    text-decoration: line-through;
}

button{
    width: 350px;
    border-radius: 10px;
    background-color: Dark cyan: hsl(158, 36%, 37%)

}

buttom :hover{
    background-color: green;
}